.dark {
  body {
    background-color: #303030;
    main {
      background-image: url(/IMG/Rectangle-1.png);
    }
    h1, h2, h3, p, a {
      color: #fff;
    }
    .features__title {
      color: #fff;
    }
    .features {
      background-image: url(/IMG/back-2.png);
      .features__footer {
        span {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
  footer {
    background-color: #302b44;
    background-image: url(/IMG/footer-3.png);
    select {
      background-color: #424242;
      color: #fff;
      background-image: url(/IMG/android-globe-2.png);
    }
  }
  .menu {
    a {
      color: #D1C4E9;
    }
    .log {
      a {
        color: #fff;
      }
      #svg {
        background-image: url(/SVG/gear_2.svg);
      }
    }
  }
  .update {
    h3, p {
      color: #fff;
    }
    a {
      color: #D1C4E9;
    }
    .update__container, .update__container-2  {
      background-color: #424242;
    }
    .update__container-back {
      background-color: #4e42e4;
    }
  }
  .features__text {
    .features__title, p {
      color: #fff;
    }
  }
  .slider {
    .nav span {
      background-color: #424242;
    }
    .nav span.on {
      background: #70d0e2;
    }
    .slider__content-1 {
      p {
        color: #fff;
      }
    }
  }
  .main__login {
    background-image: none;
    background-color: #303030;
    .log {
      a {
        color: #fff;
      }
    }
    .login__form {
      background-color: #424242;
      .inscription {
        .stick {
          border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        }
        p {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      input {
        background-color: #292929;
        color: rgba(255, 255, 255, 0.7);
      }
      .remember__word {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .contact {
      input, textarea {
        background-color: #292929;
        color: rgba(255, 255, 255, 0.7);
        border-color: #565656;
      }
    }
    footer {
      background-color: #303030;
    }
    .footer__social {
      div {
        background-color: #424242;
      }
      .footer__social-fb {
        background-image: url(/IMG/fb_footer-black.png);
      }
      .footer__social-link {
        background-image: url(/IMG/li_footer-black.png);
      }
      .footer__social-tw {
        background-image: url(/IMG/twiter-footer_black.png);
      }
      .footer__social-in {
        background-image: url(/IMG/inst_footer_black.png);
      }
    }
  }
  .button {
    background-color: #673AB7 !important;
  }
  #svg {
    background-image: url(/SVG/gear_2.svg);
  }
  .not__stile {
    background-color: #424242 !important;
  }
}
