@media screen and (max-width: 992px){
  %button {
    width: 35%;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
    padding-bottom: 5px;
  }
  body {
    width: 100%; 
    .home {
      width: 110px;
      right: 5%;
    }
    .oval__2 {
      position: absolute;
      z-index: -2;
      width: 271.63px;
      height: 569.06px;
      left: 215px;
      top: -105.83px;
      background: linear-gradient(211.39deg, rgba(0, 188, 212, 0.1) -7.81%, rgba(103, 58, 183, 0.1) 82.59%);
      transform: matrix(0.75, 0.64, -0.67, 0.76, 350, 0);
      border-radius: 10% 50% 4% 90%;
    }
  }
  footer {
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    .footer__div-1 {
      width: 38%;
      margin-left: 10px;
    }
    .footer__div  {
      width: 33%;
      margin-left: 0;
    }
    .footer__social  {
      width: 88%;
      div {
        margin-bottom: 10px;
        margin-top: 40px;
      }
    }
    select {
      width: 88%;
      padding-left: 37px;
      font-size: 15px;
      background-position: 8px 6px;
    }
  }
  main {
    width: 100%;
    .options {
      right: -10px;
      top: 60px;
    }
    header {
      height: 100%;
      margin-top: 10px;
      .logo{
        top: 0px;
        left: 0;
      }
      .menu{
        width: 1100px / 1280px *100%;
        height: 100px;
        float: right;
        nav {
          width: 300px;
          height: 100px;
          flex-wrap: wrap;
          justify-content: space-evenly;
          top: -40px;
        }
        .log {
          width: 200px;
          right: 112px;
          top: -155px;
          margin-right: 0;
          font-size: 12px;
          a {
            font-size: 14px;
            right: -30px;
          }
          .detail  {
            right: -30px;
            top: 5px;
          }
          .stick {
            margin-right: 10px;
            margin-left: 35px;
          }
          #svg {
            right: 0px;
          }
        }
      }
    }
    .container_main {
      width: 100%;
      background-size: 50%;
    }
    .text {
      margin-left: 70px;
      width: 40%;
      h1{
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 0;
      }
      p {
        font-size: 17px;
        line-height: 28px;
      }
    }
    .items {
      width: 100%;
      padding-left: 20px;
      h2 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        font-size: 15px;
        line-height: 20px;
      }
      .items__div {
        width: 200px;
       position: relative;
       }
       a {
          &:hover .circle {
            top: -5px;
            left: 0;
        }
          &:hover .circle__3 {
            left: 0;
            float: left;
          }
       }
       .items__circle:hover {
         position: relative;
         left: 105px;
         width: 250px;
       }
       .items__circle-busines:hover {
         position: relative;
         left: 10px;
       }
       .items__circle-nulla:hover {
         float: right;
         position: relative;
         left: 22px;
       }
    }
  }
    .features {
      .features__screen {
        width: 40%;
        margin-left: 0;
        img {
          width: 100%;
        }
      }    
      .features__screen img {
        width: 93%;
      }
      .features__text {
        float: right;
        width: 400px;
        margin-right: 75px;
        .features__title {
          font-size: 24px;
          line-height: 34px;
        }
        .features__title-1 {
          margin-right: 50px;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .features__text-2 {
        left: -450px;
        top: -100px;
        .features__title-2 {
          margin-left: 10px;
          margin-right: 0;
        }
      }
      .features__screen-2 {
        margin-top: 34%;
        right: -57%;
      }
      .features__footer {
        width: 100%;
        padding-top: 150px;
      }
      .features__text-3 {
        width: 100%;
      }
  }
  .discover {
    .wrapper {
      width: 100%;
      .slider {
        width: 74%;
        .slider__content {
          width: 100%;
          .slider__content-1 {
            left: -39px;
          }
      }
    }
    .slider .nav {
      left: 59%;
    }
    }
  }
  .stories, .community, .discover, .features, .update  {
    h1 {
      font-size: 35px;
      line-height: 40px;
    }
  }
  .stories {
    margin-bottom: 0;
  }
  .community {
    .container {
      width: 100%;
      .container__img {
        width: 285px;
        .container__img-photo {
          .container__img-link {
            width: 300px;
            height: 50px;
            right: 33px;
          }
          p {
            font-size: 30px;
          }
        } 
      }
    }
  }
  .update {
    width: 100%;
    .update__text {
      width: 50%;
    }
    .update__container {
      width: 40%;
      height: 65%;
      .update__container-back {
        width: 95%;
        height: 40%;
        padding-bottom: 40%;
        span {
          width: 50%;
          font-size: 20px;
          margin-left: 38%;
          margin-top: 5%;
        }
      }
      p {
        font-size: 20px;
      }
      h3, a {
        font-size: 14px;
      }
    }
    .update__container-2 {
      width: 40%;
      h3, a {
        font-size: 14px;
      }
      p {
        font-size: 16px;
        width: 90%;
      }
      span {
        padding-top: 13%;
      }
    }
  }
}

  //768

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    .home {
      right: 17%;
    }
    .oval__2 {
      width: 232.63px;
      height: 457.05999999999995px;
      left: 121px;
      top: -147.82999999999998px;
    }
    main {
      width: 100%;
      header {
        .menu {
          .log {
            right: 98px;
          }
        }
      }
      .text {
        .google {
          float: right;
          left: 23px;
          top: -48px;
        }
      }
    }
  }
  .features {
    .features__text {
      margin-right: -5px;
      padding-top: 90px;
  }
  .features__text-2 {
    left: -377px;
    top: -100px;
}
.features__text-3 {
  div {
    img {
      width: 85%;
    }
  }
}
.features__screen-2 {
  margin-right: 23px;
  margin-left: 0px;
  top: -212px;
}
.features__footer {
  padding-bottom: 24px;
  .features__footer-stick {
    margin: 31px 60px;
  }
  .download {
    font-size: 29px;
  } 
  .download span {
    font-size: 24px;
  }
} 
}
.discover {
  .wrapper {
    width: 931px;
    .slider {
      .slider__content {
       background-position: 60% 0%;
         background-size: 30%;
       img {
         width: 33%;
       }
       .slider__content-1 {
         left: -59px!important;
         width: 463px;
         height: 271px;
         margin-top: 78px;
         h3 {
           font-size: 25px;
           padding-top: 117px;
         }
     }
      }
     }
  }
}
.community {
  .container {
    .container__img-moto {
      margin-top: 0;
    }
    .container__img {
      margin-top: 8px;
      img {
        display: inline-block;
        width: 188px;
        margin-left: 28px;
      }
      .container__img-photo {
        p {
          font-size: 25px;
        }
        .container__number {
          font-size: 20px;
          width: 77px;
          height: 28px;
          top: 201px;
          left: 174px;
        }
        .container__img-link {
          width: 176px;
          height: 59px;
          right: 219px;
        }
      }
    }
  }
} 
}

  //576

@media screen and (max-width: 576px) {
  body  {
    .oval__2 {
      width: 194.63px;
      height: 435.05999999999995px;
      left: -10px;
      top: -187.82999999999998px;
    }
    #svg {
      width: 21px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 11px;
    }
    main {
      width: 98%;
    header {
      .menu {
        nav {
          width: 196px;
        }
        .log {
          right: 51px;
          .detail {
            font-size: 11px;
          }
         
        }
      }
    }
    .text {
      .google {
        left: 108px;
      }
    }
    .items {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      a {
        &:hover .circle__3{
          left: 180px;
          top: 568px;
        }
      }
      .items__circle:hover {
        left: 4px;
      }
      h2 {
       font-size: 16px;
       &:hover {
        margin-left: 41px;
        float: none;
       }
      }
      p {
        font-size: 12px;
      }
    }
    .features {
     .features__text {
      width: 300px;
      padding-top: 4px;
      .features__title {
        font-size: 18px;
        margin-right: 28px;
        line-height: 42px;
      }
      p {
        font-size: 15px;
      }
     }
     .features__text-2 {
      left: -269px;
     }
     .features__text-3 {
      margin-right: 111px;
      img {
        margin-left: -128px;
        width: 178%;
      }
     }
     .features__footer {
      padding-top: 0;
      padding-bottom: 54px;
      .download {
        span {
          font-size: 20px
        }
      }
     }
    }
    .discover {
      .wrapper {
        .slider {
          .nav {
            left: 31%;
            bottom: 68px;
          }
          .slider__content {
            background-position: 47% -1%;
            background-size: 26%;
            img {
              width: 30%;
            }
            .slider__content-1 {
              left: -237px !important;
              width: 267px;
              height: 291px;
              margin-top: 44px;
              h3 {
                font-size: 23px;
                padding-top: 107px;
              }
              p {
                width: 157px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .stories {
      height: 450px;
      .inscription, .inscription-2, .inscription-3, .inscription-4, .inscription-5 {
        width: 90%;
        p {
          font-size: 16px;
        }
      }
      .avatars {
        div {
          margin-right: 6px;
    margin-left: -4px;
        }
      }
    }
    .community {
      margin-top: 26px;
      .container {
        margin-top: 10px;
        .container__img {
          width: 269px;
          .container__img-photo {
            .container__img-link {
              width: 232px;
              height: 59px;
              right: 50%;
              top: 16px;
              &:hover {
                top: 17px;
              }
            }
          }
        }
      }
    }
    .update {
      .update__container-2 {
        p {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    footer {
      .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .select {
          order: 1;
        }
      }
      .footer__div-1 {
        order: 1;
      }
    }
  }
}
}  