@media screen and (max-width: 992px){
  %button {
    width: 35%;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
    padding-bottom: 5px;
  }
  body {
    width: 99%; 
    .home {
      width: 110px;
      left: 86%;
    }
    .oval__2 {
      position: absolute;
      z-index: -2;
      width: 271.63px;
      height: 7%;
      left: 23%;
      top: -105.83px;
      background: linear-gradient(211.39deg, rgba(0, 188, 212, 0.1) -7.81%, rgba(103, 58, 183, 0.1) 82.59%);
      transform: matrix(0.75, 0.64, -0.67, 0.76, 350, 0);
      border-radius: 10% 50% 4% 90%;
    }
  }
  footer {
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    .footer__div-1 {
      width: 38%;
      margin-left: 10px;
    }
    .footer__div  {
      width: 33%;
      margin-left: 0;
    }
    .footer__social  {
      width: 88%;
      div {
        margin-bottom: 10px;
        margin-top: 40px;
      }
    }
    select {
      width: 88%;
      padding-left: 37px;
      font-size: 15px;
      background-position: 8px 6px;
    }
  }
  main {
    width: 100%;
    .options {
      right: -10px;
      top: 60px;
    }
    header {
      height: 100%;
      margin-top: 10px;
      .logo{
        top: 0px;
        left: 0;
      }
      .menu{
        width: 1100px / 1280px *100%;
        height: 100px;
        float: right;
        nav {
          width: 300px;
          height: 100px;
          flex-wrap: wrap;
          justify-content: space-evenly;
          top: -40px;
        }
        .log {
          width: 200px;
          right: 112px;
          top: -155px;
          margin-right: 0;
          font-size: 12px;
          a {
            font-size: 14px;
            right: -30px;
          }
          .detail  {
            right: -30px;
            top: 5px;
          }
          .stick {
            margin-right: 10px;
            margin-left: 35px;
          }
          #svg {
            right: 0px;
          }
        }
      }
    }
    .container_main {
      width: 100%;
      background-size: 50%;
    }
    .text {
      margin-left: 70px;
      
      h1{
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 0;
        width: 49%;
      }
      p {
        font-size: 17px;
        line-height: 28px;
        width: 40%;
      }
    }
    .items {
      width: 100%;
      padding-left: 20px;
      h2 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        font-size: 15px;
        line-height: 20px;
      }
      .items__div {
        width: 200px;
        position: relative;
       }
       a {
          &:hover .circle {
             top: -8px;
            left: 0;
        }
          &:hover .circle__3 {
            left: 0%;
            float: left;
            top: -10.1%;
          }
          &:hover .nulla {
            margin-left: 38px;
            width: 187px;
            float: none;
          }
       }
       .items__circle:hover {
         position: relative;
         left: 105px;
         width: 250px;
       }
       .items__circle-busines:hover {
         position: relative;
         left: 10px;
       }
       .items__circle-nulla:hover {
         float: right;
         position: relative;
         left: 22px;
       }
    }
  }
    .features {
      .features__screen {
        margin-left: 0;
      }    
      .features__text {
        .features__title {
          font-size: 22px;
          line-height: 34px;
        }
        .features__title-1 {
          margin-right: 50px;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .features__text-2 {
        .features__title-2 {
          margin-left: 10px;
          margin-right: 0;
        }
      }
      .features__screen-2 {
        margin-top: -2%;
        right: -13%;
      }
      .features__footer {
        width: 100%;
       
      }
  }
  .discover {
    .wrapper {
      width: 117%;
      padding: 1px 0px 18px 1px;
      margin-left: 11%;
      .slider {
        width: 74%;
        .slider__content {
          width: 100%;
          background-position: 69% -1%;
          background-size: 33%;
          .slider__content-1 {
            left: -39px;
          }
      }
    }
    .slider .nav {
      left: 37%;
    }
    }
  }
  .stories, .community, .discover, .features, .update  {
    h1 {
      font-size: 35px;
      line-height: 40px;
    }
  }
  .stories {
    margin-bottom: 0;
  }
  .community {
    .container {
      width: 100%;
      .container__img-music {
        margin-top: 0px;
      }
      .container__img-moto {
        margin-top: -1px;
    }
      .container__img {
        width: 285px;
        .container__img-photo {
          .container__img-link {
            height: 50px;
            width: 100%;
            left: -4%;
            margin-top: -7%;
          }
          p {
            font-size: 30px;
          }
        } 
      }
    }
  }
  .update {
    width: 100%;
    .update__text {
      width: 50%;
    }
    .update__container {
      width: 40%;
      height: 65%;
      .update__container-back {
        width: 95%;
        height: 40%;
        padding-bottom: 40%;
        span {
          width: 50%;
          font-size: 20px;
          margin-left: 38%;
          margin-top: 5%;
        }
      }
      p {
        font-size: 20px;
      }
      h3, a {
        font-size: 14px;
      }
    }
    .update__container-2 {
      width: 40%;
      h3, a {
        font-size: 14px;
      }
      p {
        font-size: 16px;
        width: 90%;
      }
      span {
        padding-top: 13%;
      }
    }
  }
}

  //768

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    .home {
      left: 83%;
    }
    .oval__2 {
      width: 232.63px;
      height: 457.05999999999995px;
      left: 121px;
      top: -147.82999999999998px;
    }
    main {
      width: 100%;
      header {
        .menu {
          nav {
            width: 100%;
            margin-left: -27%;
            top: 15%;
          }
          .log {
            right: 16%;
          }
        }
      }
      .text {
        .google {
          float: right;
          left: -44%;
          top: -1px;
        }
      }
      .items {
        a {
          &:hover .circle__3 {
            left: -1%;
            top: -10.75%;
          }
        }
      }
    }
  }
  .features {
    .features__text {
      margin-right: -5px;
      padding-top: 90px;
      .features__title-1 {
        margin-right: 27px;
    }
    p {
      width: 98%;
      text-align: center;
    }
    .circle {
      margin-top: 2%;
    }
  }
  .features__text-2 {
    left: -377px;
    top: -100px;
}
.features__text-3 {
  div {
    img {
    }
  }
}
.features__screen-2 {
  margin-right: 23px;
  margin-left: 0px;
  top: -212px;
}
.features__footer {
  padding-bottom: 24px;
  .features__footer-stick {
    margin: 31px 60px;
  }
  .download {
    font-size: 29px;
  } 
  .download span {
    font-size: 24px;
  }
} 
}
.discover {
  .wrapper {
    width: 931px;
    .slider {
      .nav {
        left: 34%;
      }
      .slider__content {
       background-position: 60% 0%;
         background-size: 30%;
       img {
         width: 33%;
       }
       .slider__content-1 {
         left: -59px!important;
         width: 463px;
         height: 271px;
         margin-top: 78px;
         h3 {
           font-size: 25px;
           padding-top: 117px;
         }
     }
      }
     }
  }
}
.community {
  .container {
    .container__img-moto {
      margin-top: 0;
    }
    .container__img {
      margin-top: 8px;
      img {
        display: inline-block;
        width: 188px;
        margin-left: 28px;
      }
      .container__img-photo {
        p {
          font-size: 25px;
        }
        .container__number {
          font-size: 20px;
          width: 77px;
          height: 28px;
          top: 201px;
          left: 174px;
        }
        .container__img-link {
          width: 92%;
          height: 55px;
          left: -91%;
          margin-top: 3%;
        }
      }
    }
  }
} 
}


  //576

@media screen and (max-width: 576px) {
  body  {
    .oval__2 {
      width: 194.63px;
      height: 435.05999999999995px;
      left: -10px;
      top: -187.82999999999998px;
    }
    #svg {
      width: 21px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 11px;
    }
    main {
      width: 98%;
    header {
      .menu {
        nav {
          width: 196px;
        }
        .log {
          right: 51px;
          .detail {
            font-size: 11px;
          }
         
        }
      }
    }
    .text {
      .google {
        top: 0px;
      }
    }
    .items {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      a {
        &:hover .circle__3{
          left: 0%;
          top: -15.8%;
        }
      }
      .items__circle:hover {
        left: 4px;
      }
      h2 {
       font-size: 16px;
       &:hover {
        margin-left: 41px;
        float: none;
       }
      }
      p {
        font-size: 12px;
      }
    }
    .features {
     .features__text {
      padding-top: 4px;
      .features__title {
        font-size: 18px;
        line-height: 42px;
      }
      p {
        font-size: 15px;
      }
     }
     .features__footer {
      padding-top: 0;
      padding-bottom: 54px;
      .download {
        span {
          font-size: 20px
        }
      }
     }
    }
    .discover {
      .wrapper {
        .slider {
          .nav {
            left: 31%;
            bottom: 68px;
          }
          .slider__content {
            background-position: 47% -1%;
            background-size: 26%;
            img {
              width: 30%;
            }
            .slider__content-1 {
              left: -237px !important;
              width: 267px;
              height: 291px;
              margin-top: 44px;
              h3 {
                font-size: 23px;
                padding-top: 107px;
              }
              p {
                width: 157px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .stories {
      height: 450px;
      .inscription, .inscription-2, .inscription-3, .inscription-4, .inscription-5 {
        width: 90%;
        p {
          font-size: 16px;
        }
      }
      .avatars {
        div {
          margin-right: 6px;
    margin-left: -4px;
        }
      }
    }
    .community {
      margin-top: 26px;
      .container {
        margin-top: 10px;
        .container__img {
          width: 269px;
          .container__img-photo {
            .container__img-link {
              width: 232px;
              height: 59px;
              right: 50%;
              top: 16px;
              &:hover {
                top: 17px;
              }
            }
          }
        }
      }
    }
    .update {
      .update__container-2 {
        p {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    footer {
      .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .select {
          order: 1;
        }
      }
      .footer__div-1 {
        order: 1;
      }
    }
  }
}
}  

  // 400
  
@media screen and (max-width: 400px) {
  body {
    main {
      header {
        .menu {
          nav {
            width: 241px;
            top: -2%;
            margin-left: -16%;
          }
          .log {
            right: 11%;
          }
        }
      } 
      .text {
        .google {
          left: -52%;
          top: 0;
        }
        .apple {
          left: -9%;
        }
      }
      .items {
        .items__stick {
          opacity: 0;
        }
        a:hover .circle__3 {
          left: 0%;
          top: -12.2%;
        }
      }
      .features {
        margin-top: 141px;
        .features__text {
          .circle {
            margin-left: 32%;
          }
        }
          .features__text-2 {
            .circle {
              margin-left: 45%;
            }
          }
          .features__footer {
            .download {
              font-size: 24px;
              span {
                font-size: 18px;
              }
            }
            .features__footer-stick {
              margin: 38px 0px;
            }
          }
      }
      .container_main {
        background-position: 100% 47%;
        background-size: 99%;
      }
      .discover {
        .wrapper {
          padding: 0;
          margin-left: 4%;
          .slider {
            height: 397px;
            .nav {
              left: 18%;
              bottom: 10%;
            }
            ul {
              li {
                width: 580px;
              }
            }
            .slider__content {
              .slider__content-1 {
                height: 241px;
                margin-top: 36px;
                p {
                  width: 137px;
                  font-size: 13px;
                  margin-left: 39%;
                  margin-top: -4%;
                }
                h3 {
                  font-size: 20px;
                  padding-top: 83px;
                  margin-left: 22%;
                }
              }
              .slider__content-2 {
                h3 {
                  margin-left: 32%;
                }
              }
            }
          }
        }
      }
      .stories {
        .avatars {
          flex-wrap: wrap;
        }
      }
      .community {
        margin-top: 65%;
        .container {
          width: 69%;
         height: 1901px;
         .container__img {
          .container__img-photo {
            .container__img-link {
              left: -4%;
            }
          }
         }
      }
      }
      .update {
        .update__text {
          font-size: 18px;
        }
        .update__container {
          width: 90%;
          margin-left: 5%;
        }
        .update__container-2 {
          width: 73%;
        }
      }
      .store {
        h1 {
          padding-top: 488px;
          font-size: 30px;
        }
        .store__links {          
          flex-direction: column;         
          align-items: center;
        }
        .google {
          width: 259px;
          margin-top: 10px;
        }
      }
    }
  }
}