@media screen and (max-width: 992px){
  %button {
    width: 35%;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
    padding-bottom: 5px;
  }
  body {
    width: 100%; 
    .home {
      width: 110px;
      right: 5%;
    }
    .oval__2 {
      position: absolute;
      z-index: -2;
      width: 271.63px;
      height: 569.06px;
      left: 215px;
      top: -105.83px;
      background: linear-gradient(211.39deg, rgba(0, 188, 212, 0.1) -7.81%, rgba(103, 58, 183, 0.1) 82.59%);
      transform: matrix(0.75, 0.64, -0.67, 0.76, 350, 0);
      border-radius: 10% 50% 4% 90%;
    }
  }

  footer {
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    .footer__div-1 {
      width: 33%;
    }
    .footer__div  {
      width: 33%;
    }
    .footer__social  {
      width: 33%;
      div {
        margin-bottom: 10px;
        margin-top: 40px;
      }
    }
    .select, select {
      width: 65%;
    }
  }

  main {
    width: 100%;
    .options {
      right: -10px;
      top: 60px;
    }
    header {
      height: 100%;
      margin-top: 10px;
      .logo{
        top: 0px;
        left: 0;
      }
      .menu{
        width: 1100px / 1280px *100%;
        height: 100px;
        float: right;
        nav {
          width: 300px;
          height: 100px;
          flex-wrap: wrap;
          justify-content: space-evenly;
          top: -40px;
        }
        .log {
          width: 200px;
          right: 112px;
          top: -155px;
          margin-right: 0;
          font-size: 12px;
          a {
            font-size: 14px;
            right: -30px;
          }
          .detail  {
            right: -30px;
            top: 5px;
          }
          .stick {
            margin-right: 10px;
            margin-left: 35px;
          }
          #svg {
            right: 0px;
          }
        }
      }
    }
    .container_main {
      width: 100%;
      background-size: 50%;
    }
    .text {
      margin-left: 70px;
      width: 40%;
      h1{
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 0;
      }
      p {
        font-size: 17px;
        line-height: 28px;
      }
    }
    .items {
      width: 100%;
      padding-left: 20px;
      h2 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        font-size: 15px;
        line-height: 20px;
      }
      .items__div {
        width: 200px;
       position: relative;
       }
       a {
          &:hover .circle {
            top: -5px;
            left: 0;
        }
          &:hover .circle__3 {
            left: 0;
            float: left;
          }
       }
       .items__circle:hover {
         position: relative;
         left: 105px;
         width: 250px;
       }
       .items__circle-busines:hover {
         position: relative;
         left: 10px;
       }
       .items__circle-nulla:hover {
         float: right;
         position: relative;
         left: 22px;
       }
    }
  }

    .features {
      .features__screen {
        width: 40%;
        margin-left: 0;
        img {
          width: 100%;
        }
      }    
      .features__screen img {
        width: 93%;
      }
      .features__text {
        float: right;
        width: 400px;
        margin-right: 75px;
        .features__title {
          font-size: 24px;
          line-height: 34px;
        }
        .features__title-1 {
          margin-right: 50px;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .features__text-2 {
        left: -450px;
        top: -100px;
        .features__title-2 {
          margin-left: 10px;
          margin-right: 0;
        }
      }
      .features__screen-2 {
        margin-top: 326px;
        right: -563px;
      }
      .features__footer {
        width: 100%;
        padding-top: 150px;
      }
      .features__text-3 {
        width: 100%;
      }
  }

  .discover {
    .wrapper {
      width: 100%;
      .slider {
        width: 74%;
        .slider__content {
          width: 100%;
          .slider__content-1 {
            left: -39px;
          }
      }
    }
    .slider .nav {
      left: 59%;
    }
    }
  }
  .stories, .community, .discover, .features, .update  {
    h1 {
      font-size: 35px;
      line-height: 40px;
    }
  }
  .stories {
    margin-bottom: 0;
  }
  .community {
    .container {
      width: 100%;
      .container__img {
        width: 285px;
        .container__img-photo {
          .container__img-link {
            width: 300px;
            height: 50px;
            right: 33px;
          }
          p {
            font-size: 30px;
          }
        } 
      }
    }
  }
  .update {
    width: 100%;
    .update__text {
      width: 50%;
    }
    .update__container {
      width: 40%;
      height: 65%;
      .update__container-back {
        width: 95%;
        height: 40%;
        padding-bottom: 40%;
        span {
          width: 50%;
          font-size: 20px;
          margin-left: 38%;
          margin-top: 5%;
        }
      }
      p {
        font-size: 20px;
      }
      h3, a {
        font-size: 14px;
      }
    }
    .update__container-2 {
      width: 40%;
      h3, a {
        font-size: 14px;
      }
      p {
        font-size: 16px;
        width: 90%;
      }
      span {
        padding-top: 13%;
      }
    }
  }
}