@import "reset.scss";
@import "pattern.scss";
@import "login.scss";
@import "dark.scss";

@font-face {
  font-family: SemiBold;
  src: url(/fonts/OpenSans-SemiBold.ttf);
  font-style: normal;
}
@font-face {
  font-family: Bold;
  src: url(/fonts/OpenSans-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: Regular;
  src: url(/fonts/OpenSans-Regular.ttf);
  font-style: normal;
}

#svg {
  width: 30px;
  height: 30px;
  background-image: url(/SVG/gear.svg);
  position: relative;
  top: 7px;
  &:hover {
    transform: rotate(90deg);
  }
}
body {
  background-color: white;
  a {
    text-decoration: none;
  }
  .home {
    @extend %button;
    position: fixed;
    bottom: 15px;
    right: 10%;
    z-index: 20;
    &:hover {
      bottom: 14px;
    }
  }
  .oval {
    position: absolute;
    width: 232.6px;
    height: 406.94px;
    right: 750px;
    top: -100px;
    z-index: -1;
    background: rgba(209, 196, 233, 0.2);
    transform: matrix(0.89, 0.79, -0.73, 0.7, -90, -100);
    border-radius: 50% 50% 10% 90%;
  }
  .oval__2 {
    position: absolute;
    z-index: -2;
    width: 271.63px;
    height: 569.06px;
    left: 1184.54px;
    top: -105.83px;
    background: linear-gradient(211.39deg, rgba(0, 188, 212, 0.1) -7.81%, rgba(103, 58, 183, 0.1) 82.59%);
    transform: matrix(0.75, 0.64, -0.67, 0.76, 350, 0);
    border-radius: 10% 50% 4% 90%;
  }
}

main {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(/IMG/Rectangle.png);
  z-index: 2;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

 // HEADER

header {
  width: 88.88889%;
  height: 105px;
  margin: 0 auto;
  .logo {
    @extend %logo;
  }
  .menu {
    width: 1100px;
    height: 55px;
    position: relative;
    left: 18.59%;
    top: -5%;
    nav {
      display: flex;
      width: 535px;
      justify-content: space-between;
      position: relative;
      top: -10px;
    }
    a {
      font-family: SemiBold;
      font-size: 18px;
      line-height: 25px;
      color: #673AB7;
      .circle {
        opacity: 0;
        background-color: #673AB7;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 auto;
      }
      &:hover .circle {
        opacity: 1;
      }
    }
    .log {
      float: right;
      display: flex;
      position: relative;
      top: -50px;
      right: 90px;
      height: 40px;
      a {
        font-family: SemiBold;
        font-size: 16px;
        line-height: 22px;
        color: #302F2F;
        position: relative;
        top: 10px;
      } 
      .detail {
        @extend %button;
      .detail:hover {
        top: 9px;
      }
    }
      .stick {
        height: 25px;
        border-right: 1px solid #979797;
        margin-right: 30px;
        margin-top: 10px;
      }
    }
  }
  .options {
    @extend %hideMenu;
    right: 100px;
  }
}
.container_main {
  width: 1440px;
  background-image: url(/IMG/Vector.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.text {
  width: 595px;
  margin: 95px 0 80px 120px;
  h1 {
    font-family: Bold;
    font-size: 48px;
    line-height: 65px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }
  p {
    font-family: SemiBold;
    font-size: 32px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 25px;
  }
  .apple {
    display: inline-block;
    width: 160px;
    height: 45px;
    background-image: url(/IMG/apple.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
    margin-right: 20px;
    position: relative;
    &:hover {
      bottom: -1px;
    }
  }
  .google {
    display: inline-block;
    width: 159px;
    height: 45px;
    background-image: url(/IMG/google.png);
    background-position: -1px -1px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
    position: relative;
    &:hover {
      bottom: -1px;
    }
  }
}

.items {
  width: 1045px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  h2 {
    font-family: SemiBold;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    &:hover {
      color: #00bcd4;
      float: right;
    }
  }
  .items__div {
    width: 300px;
  }
  .items__circle-busines:hover {
    left: -20px;
  }
  .items__circle:hover {
    margin-right: 15px;
  }
  p {
    font-family: Regular;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
  }
  a {
    .circle {
      opacity: 0;
      width: 20px;
      height: 20px;
      background-color: #00bcd4;
      border-radius: 50%;
      margin-top: 13px;
      position: absolute;
    }
    &:hover .circle {
      opacity: 1;
      position: absolute;
      left: 195px;
    }
    &:hover .circle__2 {
      left: 555px;
    }
    &:hover .circle__3 {
      left: 940px;
    }
  }
  .items__stick {
    height: 63px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}

  // FEATURES

  .features {
    margin-top: 80px;
    background-image: url(/IMG/back-2.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    position: relative;
    z-index: -1;
    h1 {
      @extend %title;
    }
    .features__stick {
      @extend %stick;
    }
    .features__screen {
      width: 510px;
      margin-left: 120px;
      float: left;
    }
    .features__text {
      width: 595px;
      float: right;
      margin-right: 110px;
      padding-top: 150px;
      .circle {
        float: left;
        width: 20px;
        height: 20px;
        background-color: #00bcd4;
        border-radius: 50%;
        margin-top: 13px;
      }
      .features__title {
        font-family: SemiBold;
        font-size: 32px;
        line-height: 44px;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 20px;
      }
      .features__title-1 {
        float: right;
        margin-right: 140px;
      }
      p {
        display: inline-block;
        font-family: Regular;
        font-size: 24px;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
    .features__text-2 {
      position: relative;
      float: left;
      left: -520px;
      margin-top: 180px;
      .features__title-2 {
        float: left;
        margin-left: 140px;
        margin-right: 0;
      }
      .circle {
        float: right;
      }
      p {
        text-align: right;
      }
    }
    .features__screen-2 {
      margin-right: 90px;
      margin-left: 0px;
      float: right;
      position: relative;
      top: -310px;
      margin-bottom: -230px;
    }
    .features__text-3 {
      display: flex;
      float: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 880px;
      padding-top: 0;
      .features__circle {
        width: 18px;
        height: 18px;
        background-color: #00BCD4;
        border-radius: 50%;
      }
      img {
        padding-top: 30px;
        margin-left: 100px;
      }
    }
    .features__footer {
      display: flex;
      justify-content: center;
      margin-top: 150px;
      padding-bottom: 140px;
      .download {
        font-family: Bold;
        font-size: 48px;
        line-height: 55px;
        text-align: center;
        color: #006064;
        span {
          font-family: SemiBold;
          font-size: 32px;
          line-height: 44px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      .features__footer-stick {
        width: 1px;
        height: 74px;
        border: 1px solid #D1C4E9;
        margin: 0 70px;
        margin-top: 18px;
      }
    }
  }

    //  DISCOVER

    .discover {
      background-image: url(/IMG/back-2.png);
      background-repeat: no-repeat;
      background-position: 0 750%;
      position: relative;
      z-index: -1;
      h1 {
        @extend %title;
      }
      .features__stick {
        @extend %stick;
        margin-bottom: 100px;
      }
    }

    //  SLIDER

  .wrapper {
    width: 1440px;
    padding: 1px 15px 15px;
    margin: 0 auto; 
    background: #fff;
    }
    .slider {
      z-index: 9;
      width: 1400px;
      height: 490px;
      overflow: hidden;
      margin: 0 0 7px;
      position: relative;
      padding-left: 0px;
    .slider__content {
      width: 685px;
      background-image: url(/IMG/slider-1_1.png);
      background-repeat: no-repeat;
      background-position: 80% 5%;
      background-size: 40%;
      position: relative;
      z-index: 2;
      .slider__content-1 {
        width: 420px;
        height: 320px;
        border-radius: 0 20%  20% 0;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        float: right;
        margin-top: 65px;
        position: relative;
        z-index: -2;
        left: -20px;
        h3 {
          font-family: Bold;
          font-size: 28px;
          line-height: 44px;
          color: #3fbdd6;
          text-align: center;
          padding-top: 165px;
          padding-bottom: 20px;
        }
        p {
          display: inline-block;
          margin-left: 60px;
          font-family: Regular;
          width: 300px;
          font-size: 18px;
          line-height: 23px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      .slider__content-2 h3 {
        color: #df1962;
      }
    }
    .slider__content img {
      border-radius: 25px;
    }
    .slider__content-img {
      background-image: url(/IMG/slider-2_1.png);
    }
    .nav {
      position: absolute;
      left: 635px;
      bottom: 0;
      margin: 0 auto;
      span {
        opacity: 0.9;
        background: #fff;
        margin: 0 8px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        display: block;
        float: left;
        border: 2px solid #70d0e2;
      }
    }
   }
    .slider ul,
    .slider li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .slider ul {
      width: 9999px;
      li {
        list-style-type: none;
        float: left;
        width: 710px;
        height: 290px;
        margin-right: 10px;
      }
    }
    .slider .nav span.on {
      background: #70d0e2;
    }
    //  END  SLIDER

    //  STORIES

    .stories {
      height: 550px;
      margin-bottom: 90px;
      h1 {
        @extend %title;
      }
      .stories__stick {
        @extend %stick;
        margin-bottom: 100px;
      }
      .avatars {
        display: flex;
        justify-content: center;
        margin-top: -50px;    
        img {
          width: 100px;
          border-radius: 50%;
          display: block;
          opacity: 0.7;
        }
        div {
          width: 112px;
          margin-right: 12px;
          margin-left: 12px;
          border-radius: 50%;
          padding: 6px;
          &:hover {
          background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
          transform: scale(1.2);
          cursor: pointer;
          }
          &:hover img {
            opacity: 1;   
          }
        }
      }
      .inscription {
        @extend %inscription;
      }
      .inscription-2 {
        @extend %inscription;
      }
      .inscription-3 {
        @extend %inscription;
      }
      .inscription-4 {
        @extend %inscription;
      }
      .inscription-5 {
        @extend %inscription;
      }
    }

    //  TOP COMMUNITY

    .community {
      padding-bottom: 80px;
      h1 {
        @extend %title;
      }
      .community__stick {
        @extend %stick;
      }
      .container {
        width: 1090px;
        height: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-between;
        margin-top: 70px;
        .container__img-moto {
          margin-top: -70px;
        }
        .container__img {
          width: 275px;
          position: relative;
          z-index: 1;
          img {
            display: inline-block;
            width: 250px;
            margin-left: 12px;
          }
          .container__img-photo {
            padding-left: 20px;
            p {
              padding-top: 10px;
              color: #4492ef;
              font-family: Bold;
              font-size: 34px;
              text-align: center;
            }
            img {
              width: 45px;
              border-radius: 50%;
              border: 2px solid white;
            }
            .container__img-avatar-1 {
              position: relative;
              z-index: -1;
            }
            .container__img-avatar-2 {
              position: relative;
              z-index: 2;
              margin-left: -15px;
            }
            .container__img-avatar-3 {
              position: relative;
              z-index: 2;
              margin-left: -20px;
            }
            .container__img-avatar-4 {
              position: relative;
              z-index: 2;
              margin-left: -20px;
            }
            .container__number {
              width: 100px;
              height: 42px;
              background-color: #4492ef;
              border-radius: 25px;
              text-align: center;
              font-size: 32px;
              font-family: SemiBold;
              color: #fff;
              float: right;
              position: absolute;
              top: 259px;
              left: 141px;
              z-index: 4;
              border: 3px solid #fff;
            }
            .container__img-link {
              @extend %button;
              width: 410px;
              height: 65px;
              top: 75px;
              right: 105px;
              font-size: 25px;
              padding-top: 20px;
              &:hover {
                top: 76px;
              }
            }
            .container__number-sport {
              background-color: #408088;
            }
            .container__p-sport {
              color: #408088;
            }
            .container__number-animal {
              background-color: #ee8d6d;
            }
            .container__p-animal {
              color: #ee8d6d;
            }
            .container__number-adventures {
              background-color: #dda403;
            }
            .container__p-adventures {
              color: #dda403;
            }
            .container__number-music {
              background-color: #2c29e0;
            }
            .container__p-music {
              color: #2c29e0;
            }
            .container__number-game {
              background-color: #964ad5;
            }
            .container__p-game {
              color: #964ad5;
            }
          }
        }
        .container__img-music {
          margin-top: 50px;
        }
      }
    }

     //  WAT`S UPDATE

     .update {
      width: 1215px;
      height: 690px;
      margin: 0 auto;
      margin-bottom: 120px;
      h1 {
       @extend %title;
      }
      .update__stick {
        @extend %stick;
        margin-bottom: 40px;
      }
      .update__text {
        width: 750px;
        font-family: Regular;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.87);
      }
      .update__container {
        width: 490px;
        height: 445px;
        margin-top: 40px;
        background-color: #fff;
        border-radius: 35px;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        float: left;
        .update__container-back {
          width: 460px;
          height: 260px;
          background-color: #69c8ff;
          box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.19);
          border-radius: 20px;
          margin: 0 auto;
          margin-bottom: 35px;
          padding-top: 22.5%;
          span {
            display: block;
            width: 190px;
            font-size: 40px;
            font-family: SemiBold;
            margin: 0 auto;
          }
        }
        h3 {  
          font-family: SemiBold;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.54);
          margin-left: 25px;
          margin-bottom: 10px;
        }
        p {
          font-family: SemiBold;
          font-size: 28px;
          line-height: 42px;
          color: rgba(0, 0, 0, 0.87);
          text-align: left;
          margin-left: 25px;
          margin-bottom: 15px;
        }
        a {
          font-family: Bold;
          font-size: 16px;
          line-height: 22px;
          color: #311B92;
          margin-left: 25px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .update__container-2 {
        width: 595px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        right: 10px;
        top: 40px;
        padding-left: 120px;
        padding-top: 40px;
        float: right;
        margin-bottom: 40px;
        .update__container-back {
          width: 165px;
          height: 140px;
          position: absolute;
          z-index: 2;
          left: -82px;
          top: 30px;
          background-color: #51d32c;
          box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.19);
          border-radius: 20px;
          padding-top: 9.5%;
          span {
            color: #fff;
            display: block;
            width: 75px;
            font-size: 14px;
            font-family: SemiBold;
            margin: 0 auto;
          }
        }
        h3 {
          font-family: SemiBold;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.54);
          margin-bottom: 15px;
        }
        p {
          width: 445px;
          font-family: SemiBold;
          font-size: 18px;
          line-height: 27px;
          color: rgba(0, 0, 0, 0.87);
          margin-bottom: 15px;
        }
        a {
          font-family: SemiBold;
          font-size: 16px;
          line-height: 22px;
          color: #9C27B0;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .store {
      h1 {
        font-family: Bold;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
      }
      .store__links {
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }
      .apple {
        display: inline-block;
        width: 240px;
        height: 69px;
        background-image: url(/IMG/apple_big.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
        margin-right: 20px;
        position: relative;
        &:hover {
          bottom: -1px;
        }
      }
      .google {
        display: inline-block;
        width: 237px;
        height: 69px;
        background-image: url(/IMG/google_big.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
        position: relative;
        &:hover {
          bottom: -1px;
        }
      }
    }

    //  FOOTER

footer {
  top: 160px;
  background-color: #f6f3fb;
}

@import "media.scss";

 














